<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pesquisa de satisfação</title>
</head>
<body>
 
<h2>Editar Registro</h2>
  <% data.forEach(function(details) { %>
    <form action="/edit/<%= details._id %>" method="POST">
      <label for="Nome"><b>Nome</b></label><br>
      <input type="text" value="<%= details.name %>" name="name"><br><br>
      <label for="Sobrenome"><b>Sobrenome</b></label><br>
      <input type="text" value="<%= details.surname %>" name="surname"><br><br>
      <label for="Genero"><b>Genero</b></label><br>
      <input type="radio" id="Homem" name="gender" value="Homem">
      <label for="Homem">Homem</label><br>
      <input type="radio" id="Mulher" name="gender" value="Mulher">
      <label for="Mulher">Mulher</label><br>
      <input type="radio" id="Outro" name="gender" value="Outro">
      <label for="Outro">Outro</label><br><br>
      
      <label for="idade"><b>Idade</b></label><br>
      <input type="text" value="<%= details.idade %>" name="idade"><br><br>
     
      <label for="email"><b>Email</b></label><br>
      <input type="email" value="<%= details.email %>" name="email"><br><br>
    
      <label for="endereco"><b>Endereco</b></label><br>
      <input type="text" value="<%= details.endereco %>" name="endereco"><br><br>
      
      <label for="telefone"><b>Telefone</b></label><br>
      <input type="text" value="<%= details.telefone %>" name="telefone"><br><br>

      <label for="profissao"><b>Profissao</b></label><br>
      <input type="text" value="<%= details.profissao %>" name="profissao"><br><br>

      <label for="datanascimento"><b>Data de nascimento</b></label><br>
      <input type="date" value="<%= details.datanascimento %>" name="datanascimento"><br><br>

      <label for="Como você avalia as medidas tomadas pelo Governo Federal no combate ao COVID-19?"><b>Como você avalia as medidas tomadas pelo Governo Federal no combate ao COVID-19?</b></label><br><br>
      <input type="radio" id="Ótimo" name="medidas" value="Ótimo">
      <label for="Ótimo">Ótimo</label><br>
      <input type="radio" id="Regular" name="medidas" value="Regular">
      <label for="Regular">Regular</label><br>
      <input type="radio" id="Péssimo" name="medidas" value="Péssimo">
      <label for="Péssimo">Péssimo</label><br><br>

      <label for="Como você avalia o investimento feito pelo Governo Federal no combate ao COVID-19?"><b>Como você avalia o investimento feito pelo Governo Federal no combate ao COVID-19?</b></label><br><br>
      <input type="radio" id="Ótimo" name="investimento" value="Ótimo">
      <label for="Ótimo">Ótimo</label><br>
      <input type="radio" id="Regular" name="investimento" value="Regular">
      <label for="Regular">Regular</label><br>
      <input type="radio" id="Péssimo" name="investimento" value="Péssimo">
      <label for="Péssimo">Péssimo</label><br><br>
     
      <label for="Como você avalia as medidas de prevenção adotadas pelo Governo Federal no combate ao COVID-19?"><b>Como você avalia as medidas de prevenção adotadas pelo Governo Federal no combate ao COVID-19?</b></label><br><br>
      <input type="radio" id="Ótimo" name="prevencao" value="Ótimo">
      <label for="Ótimo">Ótimo</label><br>
      <input type="radio" id="Regular" name="prevencao" value="Regular">
      <label for="Regular">Regular</label><br>
      <input type="radio" id="Péssimo" name="prevencao" value="Péssimo">
      <label for="Péssimo">Péssimo</label><br><br>
      
      <label for="Como você avalia o apoio Governo Federal aos municípios no combate ao COVID-19?"><b>Como você avalia o apoio Governo Federal aos municípios no combate ao COVID-19?</b></label><br><br>
      <input type="radio" id="Ótimo" name="apoio" value="Ótimo">
      <label for="Ótimo">Ótimo</label><br>
      <input type="radio" id="Regular" name="apoio" value="Regular">
      <label for="Regular">Regular</label><br>
      <input type="radio" id="Péssimo" name="apoio" value="Péssimo">
      <label for="Péssimo">Péssimo</label><br><br>

      <label for="Como você a postura do Presidente da República durante a pandemina de COVID-19?"><b>Como você a postura do Presidente da República durante a pandemina de COVID-19?</b></label><br><br>
      <input type="radio" id="Ótimo" name="postura" value="Ótimo">
      <label for="Ótimo">Ótimo</label><br>
      <input type="radio" id="Regular" name="postura" value="Regular">
      <label for="Regular">Regular</label><br>
      <input type="radio" id="Péssimo" name="postura" value="Péssimo">
      <label for="Péssimo">Péssimo</label><br><br>
      <br />
      <button><a href="/show">Todos</a></button>
      <button type="submit">Editar</button>
    </form>
  <% }) %>
 
</body>
</html>